doctype
html(lang='en')
  head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Node HTML
body(style={background: 'linen'})
  p
    b Hello, this is a basic HTML page.
  p 
    em I know, it's pretty sweet, no? ;)
  a(href='http://localhost:3000') Go back?
  br
  br
  input.name(
    name='name' 
    type='text' 
    placeholder='What is your name?'
  )

  script
    include greet.js
